:root {
  --primary-color: #EA5D40;
  --second-color: #FCEEEB;
  --third-color: #752E20;
  --fourth-color: #2E120C;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--second-color); /* #FCEEEB; */
}

header {
  background-color: var(--primary-color); /* #EA5D40; */
  padding: 1rem 0;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--second-color); /* #FCEEEB; */
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

section, aside {
  border: 2px solid var(--fourth-color); /* #2E120C; */
  border-radius: 2px;
  padding: 1rem
}

.card {
  border: 1px solid var(--third-color); /* #752E20; */
  border-radius: 10px;
  padding: 4rem;
}

.grid-layout{
  display: grid;
  /* hace tres columnas*/
  grid-template-columns: 300px 300px 300px; 
  grid-template-columns: 300px auto;
  /*fr:fractional, una part de la pantalla (la pantalla es divideix en parts iguals */
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  gap: 20px;
}

#morestuff{
  /* empieza en columna 1 y ocupa 2 columnas*/
  grid-column: 1 / span 2; 
  /*empieza en columna 1 y acaba en columna 3, sin incluir*/
  grid-column: 1 / 3; 
}

.grid-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  /*
  auto-fit: defineix que s'aprofita tot l'espai possible
  minmax: definexi un minim i un maxim que tindra cada columna
  */
}
