:root {
  --primary-color: #dbcf5c;
}

html {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  border-bottom:3px var(--primary-color) solid;
  border-radius: 10px;
  margin: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 30px 20px 50px 20px;
}
section{
  margin: 30px 20px;
}
.parallax {
  
  background-image: url('../img/olive-oil_1920.jpg');

 
  width: 100vw; 
  height: 20vw;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax:hover{
  filter: grayscale(100%);
}